@import "../icons";

:host {
  --bg-color: rgba(233, 233, 233, 0.233);
  --bg-color-hover: rgba(233, 233, 233, 0.178);
  --color: grey;
  --color-hover: black;
  --color-selected: var(--primary-color);
  --height: 3em;
  --position: relative;
  --primary-color: rgb(29, 202, 255);
  --width: 100%;
  --z-index: 2;
}

.topBar {
  background-color: var(--bg-color);
  left: 0;
  top: 0;
  position: var(--position);
  width: var(--width);
  height: var(--height);
  z-index: var(--z-index);
  box-shadow: 0 8px 8px -8px rgba(128, 128, 128, 0.322);
}


#center {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
}


li {
  align-items: center;
  color: var(--color);
  cursor: pointer;
  display: flex;
  margin: 0px 10px;
  text-align: center;
}

li:hover:not(#leftHeader):not(#rightHeader) {
  color: var(--color-hover);
}

.selected {
  color: var(--color-selected);
}

::slotted(*) {
  height: var(--height);
  border-radius: 10%;
}


.hide {
  opacity: 0;
  transition: opacity 0.1s linear;
}

.hideBar {
  transition: opacity 0.5s linear;
}

.show {
  opacity: 1;
  transition: opacity 0.3s linear;
}
